hr
footer(role='contentinfo')
  div.ten.columns.alpha &nbsp;
  div.two.columns.omega<a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
