extends layout

block content
  h1= title
  p Solutions to the problems on <a href="http://projecteuler.net">Project Euler</a> using JavaScript.
  ul
    li <a href='/22'>Problem 22</a>
    li <a href='/22/big'>Problem 22 with a larger file</a>
    li <a href='/25'>Problem 25</a>
      