extends layout

block content
  h1#title= title
  p Solutions to the problems on <a href="http://projecteuler.net">Project Euler</a> using JavaScript.
  ul
    li <a href='/1'>Problem 1</a>
    li <a href='/22'>Problem 22</a>
    li <a href='/25'>Problem 25</a>
    li <a href='/102'>Problem 102</a>
      