!!!
html
  head
    title= title
    meta(charset='utf-8')
    
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/css/style.css')
    
    // fav and touch icons 
    link(rel='shortcut icon', href='/images/favicon.ico')
  body
    div.container
      a(href='https://github.com/fiveisprime/euler.nodester')
        img(style='position: absolute; top: 0; right: 0; border: 0; z-index: 1;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png', alt='Fork me on GitHub')
      div.three.columns.sidebar
        nav(role='navigation')
          p#logo Project Euler
          ul
            li
              a(href='/') Home
      block content
