extends layout

block content
  div.fifteen.columns.offset-by-one.content(role='main')
    p.problem= problem
    p Answer: #{answer}
    p Total time: #{time}ms
    p
      small 
        a(href='#{link}', target='_blank') link to problem
  include includes/footer
