/* ==========================================================================
 Overrides
========================================================================== */

footer[role=contentinfo] {
  margin-top: 20px;
  padding-bottom: 20px;
}

body {
  background-image: url('../img/bg.png');
}

.container {
  background: white;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #CCC;
}

#logo {
  font-size: 21px;
  line-height: 30px;
  text-transform: uppercase;
}

a {
  transition: color .2s;
  -moz-transition: color .2s; /* Firefox 4 */
  -webkit-transition: color .2s; /* Safari and Chrome */
  -o-transition: color .2s; /* Opera */
}
