/* ==========================================================================
 Overrides
========================================================================== */

footer[role=contentinfo] {
  text-align: center;
}

body {
  background-image: url('../img/bg.png');
}

.problem {
  border: 1px solid #CCC;
  padding: 10px;
}

.link {
  margin-top: -15px;
}

.container {
  background: white;
  padding: 10px;
  box-shadow: 0 0 10px #CCC;
}

.first {
  padding-right: 6px;
  border-right: 1px solid #D3D3D3;
}

.last {
  padding-left: 6px;
}

.logo {
  font-size: 28px;
  line-height: 34px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.logo a,
.logo a:hover,
.logo a:focus {
  color: #333;
  text-decoration: none;
}

.tag {
  text-align: center;
  font-style: italic;
}

nav {
  display: block;
  text-align: center;
}

nav a {
  color: blue;
}

nav ul {
  margin-top: -15px;
}

nav li {
  display: inline;
}

.logo a {
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
          transition: all .2s;
}

a {
  -webkit-transition: color .2s;
     -moz-transition: color .2s;
       -o-transition: color .2s;
          transition: color .2s;
}
